# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
/.idea.project-platform.iml
# Datasource local storage ignored files
/../../../../../../:\UnityProjects\project-platform\.idea\.idea.project-platform\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
